@charset "UTF-8";
@font-face {
    font-family: Sigmar;
    src: url(fonts/Sigmar-Regular.ttf);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(img/20220623-fv6ftfnvsaerii0.avif);
    background-repeat: repeat;
    background-size: contain;

}

main{
    font-size: 18px;
    border: solid 4px rgba(255, 255, 255, 0.452);
    border-radius: 20px;
    box-shadow: -20px 20px 10px rgba(65, 65, 65, 0.753);
    margin: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.651);
}

.introducao{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(214, 213, 213);
}

h1{
    font-family: 'arial', Courier, serif;
    font-size: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px rgb(241, 5, 5);
}


a:hover{
    color: rgba(187, 184, 7, 0.329);
}

a{
    font-family: Sigmar, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(146, 145, 145);
    color: rgb(255, 255, 255);
}

ul:hover{
    background-color: rgba(0, 0, 0, 0.555);
}

ul{
    border: solid 3px rgb(255, 255, 255);
    background-image: linear-gradient(90deg, rgba(80, 70, 70, 0.596), rgba(95, 28, 28, 0.377));
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.sinopseh2{
    font-family: Sigmar, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 211, 211);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 2em;
}

.sinopse{
    border: solid 3px rgba(145, 97, 104, 0.63);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(121, 117, 117, 0.164);
    text-shadow: 3px 2px 4px rgb(78, 75, 75);
}

.filmagens{
    font-family: Sigmar, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(214, 211, 211);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

table{
    padding: 30px;
    border-spacing: 10px;
}

img{
    border: solid 4px rgb(168, 118, 118);
    border-radius: 10px;
}

h2{
    word-spacing: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(207, 190, 190);
}

div{
    text-align: center;
}

#index, #curiosidades, #novidades, #personagens, #fale{
    color: yellow;
}

p{
    color: rgb(255, 255, 255);
}

.novs, .curios, .ini, .imagem{
    border: solid 1px rgba(255, 255, 255, 0.637);
    border-radius: 7px;
    margin: 9px;
}

i{
    color: rgb(243, 243, 108)
}